@media(max-width:1100px){
    .navbar-list{
        background-color: var(--background-color);
        position: absolute;
        top: 100px;
        width: 90%;
        right: 2%;
        flex-direction: column;
        border: 2px solid #000000;
        border-top: 0;
        border-radius: 0 0 15px 15px;
        align-items: center;
        padding: 45px 30px;
        gap: 20px;
        z-index: 2;
        display: none;
    }
    .menu-label{
        display: block;
    }

    #menu-toggle:checked ~ .navbar-list {
        display: flex;
    }

    main h1{
        font-size: 72px;
    }

    .about-info h2 {
        font-size: 25px;
        text-align: center;
        width: 90%;
    }

    .about-info p{
        font-size: 15px;
    }
    .discover-container{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(max-width:992px){
    .btn-container{
        width: 150px;
    }

    .about-info {
        display: flex;
        flex-direction: column;
    }

}
/*TABLET*/



/*Celular*/
@media(max-width:640px){
    #contact iframe{
        display: none;
    }

}

@media(max-width:590px){

    header{
        padding: 10px;

    }
    .logo{
        width:150px;
    }

    .button{
        display: none;
    }

    .navbar-list{
    background-color: var(--background-color);
    position: absolute;
    top: 100px;
    width: 90%;
    flex-direction: column;
    border: 2px solid #000000;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    align-items: center;
    padding: 45px 30px;
    gap: 20px;
    display: none;
    }

    .about-info h2{
        font-size: 16px;
        width:90%;
    }

    .about-info p{
        font-size: 12px;
    }

    main h1{
        font-size: 50px;
    }

    .card-container{
     display: none;
    }

    .menu-label{
        display: block;
    }

    #menu-toggle:checked ~ .navbar-list {
        display: flex;
    }

    .hero-list a {
        color: var(--text-2);
        font-size: 12px;
        font-weight: 20px;
    }

    .products-container{
        height: 40%;
        width: 53%;
    }

    .container-contact{
        display: flex;
        align-items: center;
    }

    .discover-container img{
        height: 110px;
        padding:20px;
    }
    .footer-links{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 18px 20px;
        font-size: 10px;
    }

    .footer-links img{
        display: none;
    }

    .contact-us img{
        width: 150px;
    }

    .container-contact p,
    .container-contact h3,
    .container-contact a{
        font-size: 12px;
    }

}
/*Celular  */
    
