*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}


section{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

section h2{
    padding: 50px;
    font-size: 16px;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    background-color:var(--bg-grey);
    border-radius: 5px;
    padding: 40px;
}

.login-info{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.login-info input{
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    background-color: var(--background-color);
    border: none;

}
 
.login-container a,
body span {
    color: var(--text);
    font-weight: 600;
    background-color:var(--pink-lavender);
    padding: 10px;
    border-radius:5px;
    margin: 10px;
}

.btn-register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

@media(min-width:1020px){
    .login-container{
        margin: 50px;
    }
    section h2{
        font-size: 30px;
    }

    .login-info label{
        font-size: 20px;
    }

    .login-info input{
        padding: 20px;
        width: 350px;

    }

    .login-container a, body span{

        font-size: 20px;
    }

}