@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500;1,900&display=swap');
:root{
 --bg-grey:#c1abab5b;
--background-color: #fff;
--text:#000000;
--text-2:#2e2828;
--fluorescent-cyan: #4effefff;
--moonstone: #73a6adff;
--cool-gray: rgba(156, 156, 157, 0.549);
--pink-lavender: #d8a7caff;
--periwinkle: #c7b8eaff;
}

body{
    height: 100vh;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    list-style-type: none;
}

/*HEADER*/
header{
    background-color:var(--background-color);
    border-color: #000000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px 30px ;
}
    

.logo{
    width: 200px;
}

.navbar,
.navbar-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.navbar-list a{
    color: var(--text);
    font-size: 16px;
}

.navbar-list span{
    font-weight: 800;
}

.btn-container{
    width: 300px; 
}

.button{
    background-color:var(--pink-lavender);
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-container{
    background-color: transparent;
    border: none;
    outline: none;
    color: transparent;
}

/*HERO*/
#hero-components{
    background-color:var(--pink-lavender);
    height: 40px;
}

main h1{
    font-size: 82px;
    text-align: center;
    margin-top:50px ;
    background: linear-gradient(28deg,#d8a7ca 0%, #73a6ad 80%);
    color: transparent;
    -webkit-background-clip: text;
}

.hero-list{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px 20px;
    margin-left: 5%;
}

.hero-list a{
    color: var(--text-2);
    font-size: 18PX;
    font-weight: 600;
}

/*Cards*/

#card{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
}



.card-container{
    background-color: var(--bg-grey);
    width: 290px;
    padding: 20px;
    margin:60px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border-radius: 5px;
    box-shadow: 14px 8px 5px -2px rgba(0,0,0,0.18);
    text-align: center;
    cursor: pointer;
}
.card-info p {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    word-spacing: 5px;
    background-color: var(--pink-lavender);
   

}
.card-container img{
    border-radius:10px;
    width: 248px;
    height: 320px;
}

/*About*/

.about-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    margin-top: 50px;
    gap: 30px;
    background-color: var(--bg-grey);
}

.about-info h2{
    width: 80%;
    font-size: 30px;
    word-spacing: 10px;
}

/*Products*/

#products{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
}

.promo-info{
    margin:50px
}

.promo-info h2{
    text-align: center;
    font-size: 30px;
    padding-top:20px ;
    background: linear-gradient(28deg,#d8a7ca 0%, #73a6ad 80%);
    color: transparent;
    -webkit-background-clip: text;
}
.promo-info img{
    max-height: 100%;
    width: 100%;
    margin-top: 20px;
}


.products-container{
    background: var(--background-color);
    width: 300px;
    height: 400px;
    padding:20px;
    margin:50px;
    box-shadow: 2px 2px 5px 10px rgba(0,0,0,0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-card img {
    width: 250px;
    height: 250px;
}

.products-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.products-bot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.products-bot p{
    color: var(--moonstone);
}

.beauty-info img{
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    

}

/*Discover*/
#discover{
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.discover-container img{
    box-shadow: 2px 2px 5px 10px rgba(0,0,0,0.18);
    border-radius:10px;
    height: 150px;
    padding: 30px;
    margin: 50px;

}

/*footer*/

footer{
    background-color: var(--bg-grey);
    width: 100%;
    max-height: 100%;
}

#contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 30px;

}
.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-us img{
    width: 200px;
    height: 200px;

}

.container-contact{
    display: flex;
    gap:100px;
    flex-wrap: wrap;
}
.info-contact h3{
    font-size: 20px;

}

.info-contact p,
.info-contact a{
    display: flex;
    align-items: center;
    gap: 20px;
}
.info-contact a{
    text-decoration: none;
    color: var(--text);
}

.footer-links{
    background-color:var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-links a{
    text-decoration: none;
    color:var(--text-2);
    font-family:'Playfair Display', serif;
}

.footer-links img{

    border-radius: 50%;
    width: 100px;
    height: 100px;

    
}










